<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itlanma.mapper.AopMapper">
    <insert id="insertLog" parameterType="log">
        insert into t_log (`name`,`time`,url,cost) values (#{name},#{time},#{url},#{cost})
    </insert>
</mapper>